<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#161625">

	<link rel="icon" href="./assets/<%=page%>/icon.svg" type="image/svg+xml">

    <title><%= title %></title>
  	<meta name="author" content="Ursu Eduard Cornelius">
	<meta name="description" content="<%= description %>">
	<meta name="keywords" content="<%= keywords %>,Eduard Ursu,d3ward,github">
	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="<%= title %>">
	<meta itemprop="description" content="<%= description %>">
	<meta itemprop="image" content="https://d3ward.github.io/toolz/./assets/preview_toolz.png">
	<!-- Open Graph Tags -->
	<meta property="og:url" content="<%= url %>">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image" content="<%= preview_thumbnail %>">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="<%= url %>">
	<meta name="twitter:title" content="<%= title %>">
	<meta name="twitter:description" content="<%= description %>">
	<meta name="twitter:image" content="<%= preview_thumbnail %>">

	<script async src="https://d3-umami.up.railway.app/script.js" data-website-id="5ab2d90c-53e1-41e5-9f5f-9f08e6792e8e"></script>

</head>
