<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head.ejs',
		{
			page:'adblock',
			title:'Test Ad Block - Toolz',
			description:'Project Archived',
			url: 'd3ward.github.io/toolz/adblock',
			preview_thumbnail:'https://d3ward.github.io/toolz/src/preview_toolz.png',
			keywords:'adblock test,ad block test,ad blocker test,adblock,test adblock,analytics,trackers,ads,cosmetic filter,ublock, ublockorigin,adblock extension,script loading'
		}) %>
	<body class="_overflowhidden">

		<%- include('partials/support_me.ejs') %>
		<%- include('partials/header.ejs', {page:'adblock'}) %>

		<main class="_f-center">
			<noscript>
				<div class="_bg-red _txt-white _radius _p-1 better_r _py-2 _mt-2">
					<h3>JavaScript is required to run this test. Please enable JavaScript in your browser settings.</h3>
					<style>
						#m_test{
							display: none;
						}
					</style>
				</div>
			  </noscript>

    			<section class="_mh-100">
    				<div>
    					<div class="_bg-gray _radius _p-1 better_r">
    						<b>
    						This project is no longer maintained and has been archived.</b><br>
                            Thank you for being part of this journey and for your support.
    					</div>
    				</div>
    			</section>
		</main>
		<%- include('partials/footer.ejs') %>
		<%- include('partials/gotop.ejs') %>
	</body>
</html>
