<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head.ejs',
	{
		page: 'toolz',
		title:'Toolz by d3ward - Home',
		description:'Are you looking for a reliable and comprehensive toolkit for testing browser features? Look no further!'+
		' Toolz is an open source project that offers a range of tools for testing everything from fonts and'+
		' viewport units to the efficiency of ad blockers. With this easy-to-use interface and extensive collection of testing tools,'+
		' you\'ll have everything you need to ensure that your websites, browser and applications are optimized for the best performance and user experience.',
		url: 'd3ward.github.io/toolz/',
		preview_thumbnail:'https://d3ward.github.io/toolz/src/preview_toolz.png',
		keywords:'toolz,web tools,tools,browser testing,font testing,viewport testing,adblock testing, ad blocker testing,performance,toolkit,web design,open source'
	}) %>
	
<body>
	<%- include('partials/support_me.ejs') %>
	<%- include('partials/adblock/changelog.ejs') %>
    <%- include('partials/header.ejs', {page:'index'}) %>
    <main class="_ta-center">
        <div class="_aos-top card">
            <div class="img-w _bg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="var(--primary)" viewBox="0 0 33.867 33.867">
                    <g stroke-width="23.398" paint-order="stroke markers fill">
                        <path d="M20.266 13.384c.968-.11 6.628.393 6.6.523L15.58 20.285l-8.59-.245Z" fill-opacity=".831"/>
                        <path d="M12.896 13.659C9.3 13.469 7.011 9.705 6.932 6.35h6.637c5.728 0 6.709.023 7.068.074 3.802-.046 6.122 3.81 6.23 7.484m-7.634 6.118c4.228.086 7.438 3.513 7.702 7.491l-13.166-.026c-1.969-.031-6.754-3.016-6.78-7.45"/>
                    </g>
                </svg>
              
            </div>
            <h1 class="_mono">Toolz</h1>
            <p>Collection of browser testing tools.</p>
        </div>
        <div class="_2-col">
            <div>
                <a href="./adblock.html">
                    <div class="card _aos-bottom  _txt">
                        <div class="img-w">
                            <svg fill="var(--blue)" viewbox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M63.98 27.685c-11.2 0-19.45 1.43-28.666 4.974-4.726 1.82-4.948 2.305-4.368 9.538.783 9.734 3.79 21.804 5.788 23.204h.006c1.294.906 1.359.895 5.762-1.055l3.887-1.719.247-4.466c.164-2.95.534-5.16 1.088-6.504 5.8-13.987 24.36-15.6 32.377-2.819a165.87 165.87 0 001.536 2.415c.067.094 2.902-.286 6.302-.846 8.414-1.387 8.515-1.474 9.115-8.288.61-6.893.258-7.667-4.35-9.434-9.273-3.57-17.497-5-28.724-5zm25.782 31.108c-1.212.054-2.792.318-4.78.755-2.195.483-2.222.51-2.48 2.37-.616 4.503-4.08 9.553-8.47 12.35-6.523 4.147-15.674 3.25-21.484-2.103l-1.947-1.79-3.19 1.393c-1.753.767-3.526 1.681-3.94 2.031-1.226 1.034-1.4 3.21-.41 5.144 2.298 4.507 10.82 14.17 16.92 19.18 3.835 3.15 4.28 3.086 9.514-1.38 9.813-8.38 18.129-20.139 22.552-31.883 1.703-4.517 1.35-6.23-2.285-6.067z" />
                                <path
                                    d="M64.005 14c-4.992 0-9.984.257-13.262.768-9.64 1.5-18.933 4.257-27.123 8.04-5.084 2.35-5.615 3.542-5.632 12.586-.033 20.197 6.158 38.675 18.568 55.385 5.694 7.667 17.217 18.304 24.057 22.214 3.57 2.043 5.931 1.22 13.555-4.733 16.362-12.774 28.101-30.598 33.021-50.138 1.837-7.303 2.46-11.792 2.715-19.636.294-9.007.046-11.2-1.47-13.008-2.835-3.36-18.461-8.73-31.174-10.71-3.276-.51-8.264-.768-13.255-.768zm.215 6.185c12.843.02 22.323 1.856 34.447 6.686 5.127 2.04 5.287 2.25 5.28 6.797-.03 20.474-7.486 41.401-20.326 57.078-4.633 5.654-12.121 12.67-17.188 16.108-.926.63-2.018 1.145-2.428 1.145-2.337 0-13.634-9.92-19.584-17.2-12.93-15.824-20.368-36.67-20.371-57.105 0-4.456.524-5.062 6.204-7.246 11.754-4.52 21.305-6.28 33.966-6.263z" />
                            </svg>
                        </div>
                        <h6 class="_txt-center">Adblock Test</h6>
                    </div>
                </a>
            </div>
            <div>
                <a href="./fontlist.html">
                    <div class="card _aos-bottom  _txt">
                        <div class="img-w"><svg fill="var(--orange)" viewbox="0 0 128 128"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M50.336 22.85c-1.471 0-2.942.712-3.54 2.137L19.911 89a3.84 3.84 0 002.052 5.029 3.835 3.835 0 005.029-2.054l5.407-12.874h35.88l5.408 12.874a3.82 3.82 0 003.539 2.354c.07 0 .139-.017.208-.02.063.004.122.019.186.019h18.893c7.513 0 13.619-6.108 13.619-13.62 0-5.372-3.152-9.985-7.677-12.204 2.559-2.472 4.162-5.932 4.162-9.765 0-7.51-6.107-13.62-13.62-13.62H77.62a2.637 2.637 0 00-2.636 2.636V75.24L53.877 24.987c-.597-1.425-2.07-2.138-3.54-2.138zM18.991 97.655c-4.372 0-4.991 1.67-4.991 3.747s.636 3.748 4.99 3.748H108.4c4.355 0 5.601-1.679 5.601-3.748s-1.23-3.747-5.601-3.747z" />
                            </svg></div>
                        <h6 class="_txt-center">FontList</h6>
                    </div>
                </a></div>
            <div>
                <a href="./units.html">
                    <div class="card _aos-bottom  _txt">
                        <div class="img-w"><svg fill="var(--green)" viewbox="0 0 128 128"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M104.625 67.125h-43.75v-43.75c0-5.156-4.219-9.375-9.375-9.375H23.375C18.219 14 14 18.219 14 23.375v81.25c0 5.156 4.219 9.375 9.375 9.375h81.25c5.156 0 9.375-4.219 9.375-9.375V76.5c0-5.156-4.219-9.375-9.375-9.375zm-3.568 37.5H26.158c-2.758-.237-2.783-.235-2.783-3.16V27.18c.136-3.817-.293-3.805 3.703-3.805h21.254c3.256.106 3.168.005 3.168 2.579v5.808c.02.556-.196.812-.728.812H35.875c-4.447.492-3.296 6.15 0 6.25l14.88.168c.45.003.7.148.745.661v11.048c.052.523-.249.781-.745.799h-14.88c-4.442.492-3.297 6.149 0 6.25h14.773c.53.033.838.186.852.701V69.5c-.013.573-.295.751-.852.751H35.875c-4.442.492-3.297 6.149 0 6.25h14.844c.562-.004.781.255.781.767v14.858c.492 4.442 6.149 3.297 6.25 0V77.231c-.012-.617.265-.713.79-.731h10.8c.716.016.91.308.91.927v14.698c.491 4.447 6.15 3.296 6.25 0V77.409c.004-.732.216-.909.891-.909h10.73c.778.046.879.522.879 1.175v14.45c.491 4.447 6.15 3.296 6.25 0V77.888c-.01-.987.267-1.388 1.453-1.388h5.376c1.816-.048 2.51.929 2.546 2.486v22.582c-.194 2.912-.327 3.057-3.568 3.057z" />
                            </svg></div>
                        <h6 class="_txt-center">Units</h6>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/gotop.ejs') %>
</body>

</html>