<html lang="en">
	<%- include('partials/head.ejs', {
		page: 'units' ,
		title:'Units - Toolz',
		description:'Test viewport units of your browser.',
		url: 'd3ward.github.io/toolz' ,
		preview_thumbnail:'https://d3ward.github.io/toolz/src/preview_toolz.png',
		keywords:'viewport,toolz,units,css,web tools,testing,' }) %>

	<body>
		<%- include('partials/support_me.ejs') %>
		<%- include('partials/adblock/changelog.ejs') %>
		<%- include('partials/header.ejs', {page:'units'}) %>
		<main>
    		<div>
    			<div class="_bg-gray _radius _p-1 better_r">
    			<b>
    			This project is no longer maintained and has been archived.</b><br>
                    Thank you for being part of this journey and for your support.
    			</div>
            </div>
			<div class="_ta-center">
<svg fill="#22C55E" width="128" height="128" xmlns="http://www.w3.org/2000/svg"><path d="M104.625 67.125h-43.75v-43.75c0-5.156-4.219-9.375-9.375-9.375H23.375C18.219 14 14 18.219 14 23.375v81.25c0 5.156 4.219 9.375 9.375 9.375h81.25c5.156 0 9.375-4.219 9.375-9.375V76.5c0-5.156-4.219-9.375-9.375-9.375zm-3.568 37.5H26.158c-2.758-.237-2.783-.235-2.783-3.16V27.18c.136-3.817-.293-3.805 3.703-3.805h21.254c3.256.106 3.168.005 3.168 2.579v5.808c.02.556-.196.812-.728.812H35.875c-4.447.492-3.296 6.15 0 6.25l14.88.168c.45.003.7.148.745.661v11.048c.052.523-.249.781-.745.799h-14.88c-4.442.492-3.297 6.149 0 6.25h14.773c.53.033.838.186.852.701V69.5c-.013.573-.295.751-.852.751H35.875c-4.442.492-3.297 6.149 0 6.25h14.844c.562-.004.781.255.781.767v14.858c.492 4.442 6.149 3.297 6.25 0V77.231c-.012-.617.265-.713.79-.731h10.8c.716.016.91.308.91.927v14.698c.491 4.447 6.15 3.296 6.25 0V77.409c.004-.732.216-.909.891-.909h10.73c.778.046.879.522.879 1.175v14.45c.491 4.447 6.15 3.296 6.25 0V77.888c-.01-.987.267-1.388 1.453-1.388h5.376c1.816-.048 2.51.929 2.546 2.486v22.582c-.194 2.912-.327 3.057-3.568 3.057z"/></svg>

			</div>
			<details class="card _p-0 _shadowless _brd-bg3 _bg2 _my-2">
				<summary class="_p-1"> Units </summary>

				<div class="_p-1 better_r">
					<p>
						<b>innerHeight</b> property returns the height of the content area of a window<br>
vh = 1% of the height of the viewport size<br><br>
5 Units can be used with CSS to fix mobile issues; if you use a unit that does not match the innerheight, the user visiting your site may not see some absolute or fixed buttons because they are hidden by the navigation bar.<br> One of the browsers most affected by this problem is Webkit-based, so several units have been introduced over the years to compensate for the problem.<br>
These tests can be used to check the value of each unit.
					</p>
				</div>
			</details>

			<div class="row keep-width vtests">
				<div>
					<div class="test t-vh"><span>100vh</span></div>
				</div>
				<div>
					<div class="test t-p"><span>100%</span></div>
				</div>
				<div>
					<div class="test t-svh"><span>100svh</span></div>
				</div>
				<div>
					<div class="test t-lvh"><span>100lvh</span></div>
				</div>
				<div>
					<div class="test t-dvh"><span>100dvh</span></div>
				</div>
			</div>
			<div id="barContainer" style="opacity:0;" class="_mt-2">
				<div class="bar b-vh" style="right: 5px; position: fixed; height: 100vh;">
					<div class="text">100vh position:fixed <span class="height"></span></div>
				</div>
				<div class="bar b-lvh" style="right: 30px; position: fixed; height: 100lvh;">
					<div class="text">100lvh position:fixed <span class="height"></span></div>
				</div>
				<div class="bar b-svh" style="right: 55px; position: fixed; height: 100svh;">
					<div class="text">100svh position:fixed <span class="height"></span></div>
				</div>
				<div class="bar b-dvh" style="right: 80px; position: fixed; height: 100dvh;">
					<div class="text">100dvh position:fixed <span class="height"></span></div>
				</div>
				<div class="bar b-p" style="right: 105px; position: fixed; height: 100%;">
					<div class="text">100% position:fixed <span class="height"></span></div>
				</div>
				<div class="bar" style="right: 130px; position: absolute; height: 100vh;">
					<div class="text">100vh position:absolute <span class="height"></span></div>
				</div>
				<div class="bar" style="right: 155px; position: absolute; height: 100lvh;">
					<div class="text">100lvh position:absolute <span class="height"></span></div>
				</div>
				<div class="bar" style="right: 180px; position: absolute; height: 100svh;">
					<div class="text">100svh position:absolute <span class="height"></span></div>
				</div>
				<div class="bar" style="right: 205px; position: absolute; height: 100dvh;">
					<div class="text">100dvh position:absolute <span class="height"></span></div>
				</div>
				<div class="bar" style="right: 230px; position: absolute; height: 100%;">
					<div class="text">100% position:absolute <span class="height"></span></div>
				</div>
			</div>

			<div class="innerHeightLog"><span></span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
					viewBox="0 0 24 24">
					<path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25" />
					<path
						d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z">
						<animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12"
							repeatCount="indefinite" />
					</path>

				</svg></div>

			<div>
				<a class="btn" target="_blank" href="https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/">CSS fix
					for
					100vh</a>
				<a class="btn" target="_blank" href="https://www.bram.us/2020/05/06/100vh-in-safari-on-ios/">100vh in Safari</a>
				<a class="btn" target="_blank" href="https://maximilianschmitt.me/posts/css-100vh-mobile-browsers/"> CSS 100vh Mobile
					Browsers</a>
				<a class="btn" target="_blank"
					href="https://medium.com/@susiekim9/how-to-compensate-for-the-ios-viewport-unit-bug-46e78d54af0d">It’s
					not a
					bug,
					it’s a feature</a>
				<a class="btn" target="_blank" href="https://css-tricks.com/the-trick-to-viewport-units-on-mobile/">The trick of
					Viewport
					Units</a>
				<a class="btn" target="_blank"
					href="https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html">Avoid 100vh
					on Mobile
					Web</a>
				<a class="btn" target="_blank" href="https://bugs.webkit.org/show_bug.cgi?id=141832">WebKit Bugzilla</a>
				<a class="btn" target="_blank" href="https://twitter.com/AllThingsSmitty/status/1254151507412496384/">Matt Smith
					Solution</a>
			</div>

		</main>
		<%- include('partials/footer.ejs') %>
    <%- include('partials/gotop.ejs') %>


	</body>


</html>
